<div id="back_link" class="text-decoration-none text-body-secondary" style="cursor: pointer;" href="/home">voltar</div>

<script>

  document.getElementById('back_link').addEventListener('click', () => {
    window.history.back()
  })
</script>