<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary rounded mb-4">
      <div class="container-fluid">
        <div class="d-flex align-items-center me-4">
          <div style="font-size: 18px; color: #fff; font-weight: bold; background: #6610f2; width: 32px; height: 32px; border-radius: 4px; display: flex; align-items: center; justify-content: center;">
            C
          </div>
          <p class="h5 ms-2 d-none d-md-block">Controle de vendas</p>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a id="home" class="nav-link active" aria-current="page" href="/home">Home</a>
            </li>
            <li class="nav-item">
              <a id="cidade" class="nav-link" href="/cidade">Cidades</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/clientes">Clientes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled">Produtos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/fabricante">Fabricantes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled">Vendas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled">Relatórios</a>
            </li>
          </ul>
          <div class="d-flex align-items-center">
            <p class="h6 me-2 d-none d-md-block">Bem vindo, <%= user.userEmail %></p>
            <button type="button" class="btn btn-primary btn-sm">
              <div>
                <a href="/" style="color: #fff;">Sair</a>
                <i class="bi bi-box-arrow-right"></i>
              </div>
            </button>
          </div>
        </div>
      </div>
    </nav>
    
  </header>

  <script>
    const links = ['home', 'cidade', 'clientes']
    const currentPage = window.location.pathname
    links.forEach(id => {
      const a = document.getElementById(id)

      if (a) {
        if (currentPage === `/${id}`) {
          a.classList.add('active')
        } else {
          a.classList.remove('active')
        }
      }
    })
  </script>