<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../shared/head'); %>
</head>
<body class="container">

  <main>
    <div class="jumbotron">
      <h1 class="display-4">Erro!</h1>
      <p class="lead">Alguma coisa deu errado!</p>
      <hr class="my-4">
      <p><%= erro %></p>
      <a class="btn btn-primary btn-lg" href="/" role="button">Voltar</a>
    </div>
  </main>

</body>
</html>