<!DOCTYPE html>
<html lang="pt-br">
<head>
  <%- include('../shared/head'); %>
</head>
<body class="vh-100 vw-100 p-4" style="background: #6610f2">

  <%- include('../shared/navbar', {user: user}); %>

  <main class="container bg-body rounded p-4">

    <div class="d-flex align-items-center justify-content-between">
      <h1>Cadastrar nova venda</h1>
      
      <%- include('../shared/back_link'); %>
      
    </div>
  
    
    </table>      
  </main>

<%- include('../shared/footer'); %> 
</body>
</html>