<!DOCTYPE html>
<html lang="pt-br">
<head>
  <%- include('../shared/head'); %>
</head>
<body class="vh-100 vw-100 p-4" style="background: #6610f2">
  
  <%- include('../shared/navbar', {user: user}); %>

  <main class="container bg-body rounded p-2">
    
      <div class="row row-cols-4">
        <div class="col m-1 ms-auto me-auto" style="width: 238px; height: 152px;">
          <div class="rounded d-flex justify-content-center align-items-center w-100 h-100" style="background: #7749F8;">
            <div class="d-flex" style="color: #fff">
              <i class="bi bi-buildings me-2"></i>
              <p class="fw-bold">
                <a style="color: #fff" href="/cidade">Cidades</a>
              </p>
            </div>
          </div>
        </div>
        <div class="col m-1 ms-auto me-auto" style="width: 238px; height: 152px;">
          <div class="rounded d-flex justify-content-center align-items-center w-100 h-100" style="background: #7749F8;">
            <div class="d-flex" style="color: #fff">
              <i class="bi bi-person-lines-fill me-2"></i>
              <p class="fw-bold">
                <a style="color: #fff" href="/clientes">Clientes</a>
              </p>
            </div>
          </div>
        </div>
        <div class="col m-1 ms-auto me-auto" style="width: 238px; height: 152px;">
          <div class="rounded d-flex justify-content-center align-items-center w-100 h-100" style="background: #7749F8;">
            <div class="d-flex" style="color: #fff">
              <i class="bi bi-cart4 me-2"></i>
              <p class="fw-bold" style="cursor: pointer;">Produtos</p>
            </div>
          </div>
        </div>
        <div class="col m-1 ms-auto me-auto" style="width: 238px; height: 152px;">
          <div class="rounded d-flex justify-content-center align-items-center w-100 h-100" style="background: #7749F8;">
            <div class="d-flex" style="color: #fff">
              <i class="bi bi-house me-2"></i>
              <p class="fw-bold" style="cursor: pointer;">Fabricantes</p>
            </div>
          </div>
        </div>
        <div class="col m-1 ms-auto me-auto" style="width: 238px; height: 152px;">
          <div class="rounded d-flex justify-content-center align-items-center w-100 h-100" style="background: #7749F8; width: 238px; height: 152px;">
            <div class="d-flex" style="color: #fff">
              <i class="bi bi-shop me-2"></i>
              <p class="fw-bold" style="cursor: pointer;">Vendas</p>
            </div>
          </div>
        </div>
        <div class="col mt-2 ms-auto me-auto m-lg-2" style="width: 238px; height: 152px;">
          <div class="rounded d-flex justify-content-center align-items-center w-100 h-100" style="background: #7749F8; width: 238px; height: 152px;">
            <div class="d-flex" style="color: #fff">
              <i class="bi bi-file-text me-2"></i>
              <p class="fw-bold" style="cursor: pointer;">Relatórios</p>
            </div>
          </div>
        </div>
        <div class="col mt-2 ms-auto me-auto m-lg-2 ms-lg-3" style="width: 238px; height: 152px;">
          <div class="rounded d-flex justify-content-center align-items-center w-100 h-100" style="background: #7749F8; width: 238px; height: 152px;">
            <div class="d-flex" style="color: #fff">
              <i class="bi bi-person me-2"></i>
              <p class="fw-bold" style="cursor: pointer;">Meu usuário</p>
            </div>
          </div>
        </div>
      </div>
      
  </main>

<%- include('../shared/footer'); %> 
</body>
</html>